/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
Gemfile.lock

# rspec failure tracking
.rspec_status

# rails support app files
/spec/support/rails_app!/log/.keep
/spec/support/rails_app!/tmp/.keep
/spec/support/rails_app.byebug_history
/spec/support/rails_app/.bundle
/spec/support/rails_app/log/*
/spec/support/rails_app/tmp/*
