version: 2.1
jobs:
  test:
    parallelism: 1
    docker:
      - image: circleci/ruby:2.6.5-node-browsers
        environment: &environment
          PGHOST: localhost
          PGUSERNAME: postgres
          RAILWAY_RABBITMQ_CONNECTION_URL: amqp://guest:guest@localhost:5672
      - image: circleci/postgres:9.6
        environment:
          POSTGRES_HOST_AUTH_METHOD: trust
      - image: rabbitmq:3.5.4
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
          - v3-dependencies-{{ checksum "railway_ipc.gemspec" }}
          - v3-dependencies-
      - run:
          name: Install Dependencies
          command: |
            gem install bundler:2.0.1
            bundle install --jobs=4 --retry=3 --path vendor/bundle
      - save_cache:
          paths:
            - ./vendor/bundle
          key: v3-dependencies-{{ checksum "railway_ipc.gemspec" }}
      - run: sudo apt-get update
      - run: sudo apt install postgresql-client
      - run:
          name: Wait for postgresql
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run:
          name: Create Database
          command: |
            cd spec/support/rails_app/
            BUNDLE_IGNORE_CONFIG=true bundle install
            BUNDLE_IGNORE_CONFIG=true bundle exec rake db:create
            cd ~/repo
      - run:
          name: Run RSpec
          command: |
            mkdir /tmp/test-results
            ./bin/rspec --exclude-pattern "spec/support/rails_app/**/*_spec.rb"
      - run:
          name: Run Rubocop
          command: |
            ./bin/rubocop .
      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: /tmp/test-results
          destination: test-results
workflows:
  test:
    jobs:
      - test
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - test
experimental:
  notify:
    branches:
      only: master
